p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    /*This style below is inherited*/
    margin: 0;
    padding-top: 81px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}