.header{
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(208, 208, 208);
}

.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.middle-section{
    flex: 1;
    margin-left: 67px;
    margin-right: 35px;
    max-width: 470px;
    display: flex;
    align-items: center;
}

.search-bar{
    width: 0;
    height: 40px;
    flex: 1;
    height: 36px;
    padding-left: 11.5px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 10;
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    color: rgb(132, 132, 132);
}

.search-bar:focus{
    outline: none;
    border-color: rgb(7, 7, 198);
}

.search-button, .voice-button, .upload, .notifications, .apps{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-button{
    height: 39.5px;
    width: 65.5px;
    background-color: rgb(247, 247, 247);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    margin-left: -2px;
    margin-right: 8px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-button:hover{
    background-color: rgb(239, 239, 239);
}

.search-button:active{
    background-color: rgb(226, 226, 226);   
}

.search-button .tooltip, .voice-button .tooltip, .upload .tooltip, .notifications .tooltip, .apps .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: rgb(98, 98, 98);
    color: white;
    padding: 9px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload:hover .tooltip,
.notifications:hover .tooltip,
.apps:hover .tooltip{
    opacity: 0.95;
}

.search-icon{
    height: 24px;
}

.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.voice-icon{
    height: 24px;
}

.right-section{
    width: 182px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
    cursor: pointer;
}

.apps-icon{
    height: 24px;
    cursor: pointer;
}

.notifications-icon{
    height: 24px;
    cursor: pointer;
}

.count{
    position: absolute;
    top: -3px;
    right: -6.5px;
    background-color: rgb(207, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 10px;
    padding-left: 4.5px;
    padding-right: 4.5px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.current-user-pic{
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}



