.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (min-width: 1150px) {
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
    } 
}

@media (min-width: 851px) and (max-width: 1149px){
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
    } 
}

@media (max-width: 850px) {
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
    }
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.thumbnail {
   width: 100%;
   cursor: pointer;
}

.video-time{
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 4px 4px;
    position: absolute;
    bottom: 11px;
    right: 4px;
    opacity: 0.9;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;

}
.channel-pic{
    position: relative;
    width: 36px;
    vertical-align: top;
}

.profile-pic{
    width: 100%;
    border: None;
    border-radius: 40px;
    cursor: pointer;
}

.channel-tooltip{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 12px;
    padding-right: 40px;
    padding-left: 12px;
    top: 45px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.15s;
}

.channel-pic:hover .channel-tooltip {
    opacity: 1;
}

.pic{
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
}

.channel-text{
    font-family: Roboto, Arial;
}

.author{
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-bottom: 4px;
}

.subs{
    font-size: 14px;
    color: grey;
    font-weight: 500;
}

.video-info{
    width: 100%;
    margin-left: -2px;
}

.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.video-author, .video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
    cursor: pointer;
}










